<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Форма отзыва</h1>
<form method="post" action="/form/" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form }}
    <!--
    <label for="feedback-text">Отзыв: </label>
    <input id="feedback-text" name="text" type="text" minlength="3" maxlength="10" required>

    <label for="feedback-grade">Оценка: </label>
    <input id="feedback-grade" name="grade" type="number" min="1" max="10" required>

    <label for="feedback-image">Фотография: </label>
    <input id="feedback-image" name="image" type="file">
-->
    <input id="feedback-submit" name="submit" type="submit">
</form>

    {{ text }}
    {{ grade }}
    {{ content }}
</body>
</html>